userService/HELP.md
categoryService/HELP.md
priceService/HELP.md
productService/HELP.md
userService/target/
categoryService/target/
priceService/target/
productService/target/
!userService/.mvn/wrapper/maven-wrapper.jar
!categoryService/.mvn/wrapper/maven-wrapper.jar
!priceService/.mvn/wrapper/maven-wrapper.jar
!productService/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
