userService/HELP.md
categoryService/HELP.md
productService/HELP.md
orderService/HELP.md
serviceRegistry/HELP.md
apiGateway/HELP.md
userService/target/
categoryService/target/
productService/target/
orderService/target
serviceRegistry/target
apiGateway/target
!userService/.mvn/wrapper/maven-wrapper.jar
!categoryService/.mvn/wrapper/maven-wrapper.jar
!productService/.mvn/wrapper/maven-wrapper.jar
!orderService/.mvn/wrapper/maven-wrapper.jar
!serviceRegistry/.mvn/wrapper/maven-wrapper.jar
!apiGateway/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

scripts/locust/__pycache__

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
